*{
    margin: 0;
    padding: 0;
}
body{
  background: grey url(./img/wall.jpg) no-repeat center center;
  background-size: cover;
}
main{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}
#main{
	display: inline-block;
}
#main > div:nth-child(2){
	margin-left: -16px;
}
#main > div:nth-child(3){
	margin-left: -136px;
}
.wrapper{
    margin-top: 400px;
    margin-bottom: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
.key{
  width:100px;
  height:80px;
  background:linear-gradient(to bottom,#292929 0%,#111111 100%);
  color: #c5c5c5;
  border-radius: 7px;
  box-shadow: 0 0 0 2px #1a1b1c,0 0 0 6px #1f2020,0 2px 0 5px #080808;
  display: inline-block;

  font-size: 24px;
  font-family: helvetica;
  font-weight: bold;
}
.row{
  margin: 25px;

}
.row .key{
  margin: 0 10px;
}
.key .text{
  position: absolute;
  left: 6px;
  top: 4px;
}
img{
  position: absolute;
  left: 6px;
  bottom: 2px;
}

kbd{
    text-transform: uppercase;
    position: relative;
}
kbd img{
  height: 25px;
  width: 25px;
}
button{
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
  kbd:hover>button{
      display: inline-block;
  }

